@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div id="page-wrapper">
    <div class="graphs">
        <h3 class="blank1">账户 列表</h3>
        <div class="xs tabls">
            <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr class="warning">
                                <th>#</th>                               
                                <th>编号</th>
                                <th>照片</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@@mdo</td>
                                <td>@@mdo</td>
                                <td>@@mdo</td>
                                <td><button class="btn-danger btn">出售</button>&nbsp;&nbsp;<button class="btn-success btn">编辑</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@@fat</td>
                                <td>@@mdo</td>
                                <td>@@mdo</td>
                                <td><button class="btn-danger btn">出售</button>&nbsp;&nbsp;<button class="btn-success btn">编辑</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@@twitter</td>
                                <td>@@mdo</td>
                                <td>@@mdo</td>
                                <td><button class="btn-danger btn">出售</button>&nbsp;&nbsp;<button class="btn-success btn">编辑</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>        
                <div class="grid_3 ">
                    <div class="col-md-8 page_1">
                    </div>
                    <div class="col-md-4 page_1">
                        <nav>
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div style="clear:both"></div>
                </div>


                    



                </div>
        

        </div>
    </div>
</div>
