@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.head = "sign-in-up";
}


    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <p><span>Sign In to</span> <a href="index.html">一粒沙</a></p>
                    </div>
                    <div class="signin">
                        <!--<div class="signin-rit">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
                            </span>
                            <p><a href="#">Click Here</a> </p>
                            <div class="clearfix"> </div>
                        </div>-->
                        <form>
                            <div class="log-input">
                                <div class="log-input-left">
                                    <input type="text" class="user" value="" placeholder="请输入账号" />
                                </div>
                             
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input-left">
                                    <input type="password" class="lock" value="" placeholder="请输入密码"/>
                                </div>
                           
                                <div class="clearfix"> </div>
                            </div>
                            <input type="submit" value="Login to your account">
                        </form>
                    </div>
                    <!--<div class="new_people">
                        <h4>For New People</h4>
                        <p>
                            Having hands on experience in creating innovative designs,I do offer design
                            solutions which harness.
                        </p>
                        <a href="sign-up.html">Register Now!</a>
                    </div>--->
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
            <p>
                Copyright &copy; 2017.一粒沙 All rights reserved.友情赞助 <a href="#"  title="">Coding.Lu</a>
            </p>
        </footer>
        <!--footer section end-->
    </section>

